<a class="title" href="#">{{title}} - offset: {{from_center}} - inRange: {{in_range}}</a>
{{#if visible}}
<form class="notification-form">

  <div class="lonlat">
    <span>
      <span class="label">Longitude</span>
      <span class="value">{{lon}}</span>
    </span>
    <span>
      <span class="label">Latitude</span>
      <span class="value">{{lat}}</span>
    </span>
  </div>


  <div class="details">
    <span>
      <label for="title">Title</label>
      <input id="title" name="title" size="20" type="text" value="{{title}}" />
    </span>
    <span>
      <label for="description">Description</label>
      <input id="description" name="description" size="40" type="text" value="{{description}}" />
    </span>
  </div>

  <div class="actions">
    <span><input name="commit" type="submit" value="Apply" /></span>
    <span class="votes">{{votes_up}}</span>
    <span><input name="upvote" type="submit" value="Up" /></span>
    <span><input name="delete" type="submit" value="Delete" /></span>
  </div>

</form>
{{/if}}
