<a class="title" href="#">{{title}} - {{niceLonLat lon lat}}</a>
{{#if visible}}
<form role="form-horizontal" class="notification-form">

  <div class="row">
    <div class="col-sm-9">
      <div class="form-group row">
        <label class="col-sm-3 control-label" for="title">Title</label>
        <div class="col-sm-9">
          <input id="title" class="form-control" name="title" type="text" value="{{title}}" />
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-3 control-label" for="description">Description</label>
        <div class="col-sm-9">
          <textarea id="description" class="form-control" name="description" type="text">{{description}}</textarea>
        </div>
      </div>
    </div>

    <div class="actions col-sm-3">
      <div class="row"><button class="upvote btn btn-info btn-sm">{{votes_up}} Likes</button></div>
      <div class="row"><button class="delete btn btn-danger btn-sm">Delete</button></div>
      <div class="row"><button class="commit btn btn-success btn-sm">Apply</button></div>
    </div>

  </div>

</form>
{{/if}}
