<a class="title" href="#">{{title}}</a>
<form class="notification-form" accept-charset="UTF-8" action="/notifications" method="post">
  <div class="field">
    <label for="notification_title">Title</label><br />
    <input id="notification_title" name="notification[title]" size="30" type="text" value="{{title}}" />
  </div>
  <div class="field">
    <label for="notification_description">Description</label><br />
    <textarea cols="40" id="notification_description" name="notification[description]" rows="20" >{{description}}</textarea>
  </div>
  <div class="field">
    <label for="notification_lon">Lon</label><br />
    <input id="notification_lon" name="notification[lon]" size="30" type="text" value="{{lon}}" />
  </div>
  <div class="field">
    <label for="notification_lat">Lat</label><br />
    <input id="notification_lat" name="notification[lat]" size="30" type="text" value="{{lat}}" />
  </div>
  <div class="actions">
    <input name="commit" type="submit" value="Apply" />
  </div>
</form>
