<a class="title" href="#">{{title}}</a>

<form class="notification-form">

  <label for="title">Title</label>
  <input id="title" name="title" size="20" type="text" value="{{title}}" />

  <label for="lon">Lon</label>
  <input id="lon" name="lon" size="20" type="text" value="{{lon}}" />

  <label for="lat">Lat</label>
  <input id="lat" name="lat" size="20" type="text" value="{{lat}}" />

  <label for="description">Description</label>
  <textarea cols="20" id="description" name="description" rows="2" >{{description}}</textarea>

  <input name="commit" type="submit" value="Apply" />
</form>
